

<div class="row justify-content-center mt-3">
  <div class="card" style="width: 18rem;">
    <img class="mt-2" src="https://img.freepik.com/free-photo/front-view-academic-cap-with-books-pencils_23-2148756619.jpg?t=st=1730554090~exp=1730557690~hmac=3e0b8dff68ffeb3028b4ae65d0e99fb36e6635df9132df1bc254d0b40cfc1464&w=996" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>